# Python artifacts
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# FastAPI / uvicorn
*.log

# COVID data / cache
data/embeddings/
data/faiss_index/

# environment secrets
.env
app/firebase_key.json

# OS files
.DS_Store
Thumbs.db
