# If you are using Android emulator, use http://10.0.2.2:8000 instead of localhost.
EXPO_PUBLIC_API_URL=http://localhost:8000
EXPO_PUBLIC_GEOAPIFY_API_KEY=your_geoapify_api_key

# Firebase (from google-services.json)
EXPO_PUBLIC_FIREBASE_API_KEY=your_firebase_android_api_key
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.firebasestorage.app
EXPO_PUBLIC_FIREBASE_APP_ID=your_mobilesdk_app_id
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_project_number
